# Python virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code settings (optional)
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Node / Frontend
node_modules
dist/
.DS_Store

